<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtwd.gms.dao.impl.WtDeviceInfoDaoImpl">
	<resultMap id="BaseResultMap" type="com.wtwd.gms.entity.WtDeviceInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="company" property="company" jdbcType="VARCHAR" />
		<result column="department" property="department" jdbcType="VARCHAR" />
		<result column="model" property="model" jdbcType="VARCHAR" />
		<result column="sn" property="sn" jdbcType="VARCHAR" />
		<result column="is_active" property="isActive" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="WtDeviceInfo">wt_device_info</sql>

	<sql id="Base_Column_List">
		id, company, department, model, sn, is_active,create_time
	</sql>
	
	<sql id="condition_sql">
		<if test="isActive != null and isActive != '' ">
			is_active = #{isActive,jdbcType=INTEGER}
		</if>
		<if test="createTime != null and createTime != '' ">
			create_time between CONCAT(#{createTime},' 00:00:00') and CONCAT(#{createTime},' 23:59:59')
		</if>
		<if test="departName != null and departName != '' ">
			and department=#{departName}
		</if>
	</sql>
	<select id="queryInputData" parameterType="java.util.Map" resultType="java.lang.Integer">
		select <include refid="Base_Column_List"/>
		from <include refid="WtDeviceInfo"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	<select id="queryInputDataCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) as count
		from <include refid="WtDeviceInfo"/>
		<where>
			<include refid="condition_sql"/>
		</where>
	</select>
	<update id="updateActivation" parameterType="java.util.Map">
		update wt_activation_info
		set is_active = 1
		<where>
			<include refid="updateActivation_conditon"/>
		</where>
		limit 1
	</update>
	<sql id="updateActivation_conditon">
		<if test="devList != null and devList.size > 0">
			and 
			<foreach collection="devList" item="item" index="index" open="(" separator="or" close=")">  
			   sn = #{item.sn}  
			</foreach>
		</if>
	</sql>
	<!-- 批量导入sn -->
	<insert id="saveBatchDevice" parameterType="java.util.List">
		insert into
		<include refid="WtDeviceInfo" />
		(company, department, model, sn,create_time)
		values
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.company},#{item.department},#{item.model},#{item.sn},#{item.createTime})
		</foreach>
	</insert>
	<!-- 通过日期，设备名查找sn -->
	<select id="querySn" parameterType="java.util.Map" resultType="com.wtwd.gms.entity.WtDeviceInfo">
		select <include refid="Base_Column_List"/>
		from <include refid="WtDeviceInfo" />
		<where>
			<include refid="querySn_condition"/>
		</where>
	</select>
	<sql id="querySn_condition">
		<if test="devName != null and devName !='' "> 
			 and model = #{devName}
		</if>
		<if test="createTime != null and createTime != ''">
			and create_time = #{createTime}
		</if>
	</sql>
	<!--删除记录  -->
	<delete id="deleteInputData" parameterType="java.util.Map">
		delete  from <include refid="WtDeviceInfo" />
		<where>
			<include refid="querySn_condition"/>
		</where>
	</delete>
	<!-- 查询设备总数 -->
	<select id="queryDeviceNum" resultType="java.lang.Integer" parameterType="java.util.Map">
		SELECT COUNT(1) FROM <include refid="WtDeviceInfo" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	<!--  -->
	<select id="distinctData" resultType="com.wtwd.gms.entity.WtDeviceInfo" parameterType="java.util.Map">
		SELECT distinct
			<include refid="distinctData_sql"/>
		FROM
			<include refid="WtDeviceInfo" />
		<where>
			<include refid="distinct_condition"/>
		</where>
	</select>
	
	<sql id="distinctData_sql">
		<if test="departName != null and departName !='' ">
			 model 
		</if>
		
	</sql>
	<sql id="distinct_condition">
		<if test="departName != null and departName != '' ">
			and department=#{departName}
		</if>
	</sql>
	<!--  -->
	<select id="queryDeviceByCondition" resultType="com.wtwd.gms.entity.WtDeviceInfo" parameterType="java.util.Map">
		select * from <include refid="WtDeviceInfo" />
		<where>
			<include refid="queryDevice_condition"/>
		</where>
	</select>
	<sql id="queryDevice_condition">
		<if test="isActive != null and isActive != '' ">
			and is_active = #{isActive,jdbcType=INTEGER}
		</if>
		<if test="devName != null and devName !=''">
			and model = #{devName}
		</if>
	</sql>
	
	<select id="queryStore" resultMap="BaseResultMap" parameterType="java.util.Map">
		select * FROM
		<include refid="WtDeviceInfo"/>
		<where>
			<include refid="queryStore_condition"/>
		</where>
	</select>
	<sql id="queryStore_condition">
		<if test="department != null and department != ''">
			and department=#{department}
		</if>
		<if test="isActive != null and isActive != ''">
			and is_active =1
		</if>
		<if test="no_isActive != null and no_isActive != '' ">
			and is_active =0
		</if>
		<if test="devName != nul and devName !='' ">
			and model =#{devName}
		</if>
		<if test="devList != null and devList.size > 0">
			and 
			<foreach collection="devList" item="item" index="index" open="(" separator="or" close=")">  
			   model= #{item}  
			</foreach>
		</if>
	</sql>
	<select id="queryStoreCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(1) as count from wt_device_info 
		<where>
			<include refid="queryStore_condition"></include>
		</where>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from
		<include refid="WtDeviceInfo" />
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		<include refid="WtDeviceInfo" />
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wtwd.gms.entity.WtDeviceInfo">
		insert into
		<include refid="WtDeviceInfo" />
		(id, company, department,
		model, sn, is_active,create_time)
		values (#{id,jdbcType=BIGINT}, #{company,jdbcType=VARCHAR}, #{department,jdbcType=VARCHAR},
		#{model,jdbcType=VARCHAR}, #{sn,jdbcType=VARCHAR}, #{isActive,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.wtwd.gms.entity.WtDeviceInfo">
		insert into
		<include refid="WtDeviceInfo" />
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="company != null">
				company,
			</if>
			<if test="department != null">
				department,
			</if>
			<if test="model != null">
				model,
			</if>
			<if test="sn != null">
				sn,
			</if>
			<if test="">
				is_active,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="company != null">
				#{company,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				#{department,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				#{model,jdbcType=VARCHAR},
			</if>
			<if test="sn != null">
				#{sn,jdbcType=VARCHAR},
			</if>
			<if test="sn != null">
				#{isActive,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.wtwd.gms.entity.WtDeviceInfo">
		update
		<include refid="WtDeviceInfo" />
		<set>
			<if test="company != null">
				company = #{company,jdbcType=VARCHAR},
			</if>
			<if test="department != null">
				department = #{department,jdbcType=VARCHAR},
			</if>
			<if test="model != null">
				model = #{model,jdbcType=VARCHAR},
			</if>
			<if test="sn != null">
				sn = #{sn,jdbcType=VARCHAR},
			</if>
			<if test="sn != null">
				is_active = #{isActive,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wtwd.gms.entity.WtDeviceInfo">
		update
		<include refid="WtDeviceInfo" />
		company = #{company,jdbcType=VARCHAR},
		department = #{department,jdbcType=VARCHAR},
		model = #{model,jdbcType=VARCHAR},
		sn = #{sn,jdbcType=VARCHAR},
		is_active = #{isActive,jdbcType=INTEGER}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>