<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wtwd.gms.dao.impl.WtUserInfoDaoImpl">
	<resultMap id="BaseResultMap" type="com.wtwd.gms.entity.WtUserInfo">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="user_pwd" property="userPwd" jdbcType="VARCHAR" />
		<result column="user_status" property="userStatus" jdbcType="VARCHAR" />
		<result column="real_name" property="realName" jdbcType="VARCHAR" />
		<result column="user_type" property="userType" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<sql id="Base_Column_List">
		id, user_name, user_pwd, user_status, real_name, user_type, create_time,
		edit_time
	</sql>
	
	<sql id="wtUserInfo">wt_user_info</sql>
	
	
	<select id="findByLoginName" parameterType="string" resultMap="BaseResultMap">
		select * from 
		<include refid="wtUserInfo" />
		where user_name = #{userName}
	</select>
	<select id="alluser" resultMap="BaseResultMap">
		select * from
		<include refid="wtUserInfo" />
	</select>
	
	<select id="queryWorkerByUserName" parameterType="string" resultType="string">
		select user_name from wt_user_info where user_status = (select user_status from wt_user_info where user_name =#{uesrName,jdbcType=VARCHAR}) and user_type='worker'
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from wt_user_info
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from wt_user_info
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.wtwd.gms.entity.WtUserInfo">
		insert into wt_user_info (id, user_name, user_pwd,
		user_status, real_name, user_type,
		create_time, edit_time)
		values (#{id,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
		#{userPwd,jdbcType=VARCHAR},
		#{userStatus,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.wtwd.gms.entity.WtUserInfo">
		insert into wt_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="userPwd != null">
				user_pwd,
			</if>
			<if test="userStatus != null">
				user_status,
			</if>
			<if test="realName != null">
				real_name,
			</if>
			<if test="userType != null">
				user_type,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="editTime != null">
				edit_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				#{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				#{userStatus,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				#{realName,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				#{userType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				#{editTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="modifyPassword" parameterType="com.wtwd.gms.entity.WtUserInfo">
		update wt_user_info set user_pwd=#{userPwd} where user_name=#{userName}
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.wtwd.gms.entity.WtUserInfo">
		update wt_user_info
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="userPwd != null">
				user_pwd = #{userPwd,jdbcType=VARCHAR},
			</if>
			<if test="userStatus != null">
				user_status = #{userStatus,jdbcType=VARCHAR},
			</if>
			<if test="realName != null">
				real_name = #{realName,jdbcType=VARCHAR},
			</if>
			<if test="userType != null">
				user_type = #{userType,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="editTime != null">
				edit_time = #{editTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.wtwd.gms.entity.WtUserInfo">
		update wt_user_info
		set user_name = #{userName,jdbcType=VARCHAR},
		user_pwd = #{userPwd,jdbcType=VARCHAR},
		user_status = #{userStatus,jdbcType=VARCHAR},
		real_name = #{realName,jdbcType=VARCHAR},
		user_type = #{userType,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		edit_time = #{editTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>